body {
    font-family: "Oswald", "sans-serif";
}

.opp {
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 120rem;
    gap: 1rem;
    margin-top: 50px;
}
